@media (max-width: 320px) {

    .user-icon {
        margin-left: 0rem;
        margin-top: 0.3rem;
    }

    .user-icon span {
        color: #FFF;
        font-family: Montserrat;
        font-size: 9.839px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 24.597px;
    }

    .btn-admin {
        width: 25px;
        height: 20.34px;
        flex-shrink: 0;
    }

    .btn-admin img {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
    }

    .user-icon img {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
    }

    .user-controls {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 2.9rem;
        padding-top: 1.4rem;
    }

    .header_and_heroSection {
        width: 20rem;
        margin: 0 auto;
        height: 450px;
    }

    header {
        height: 86px;
        width: 20rem;
    }

    header .nav-btn {
        width: 39.928px;
        height: 30.158px;
        margin-top: 24px;
        margin-left: 2px;
    }

    header .header-basket-btn {
        width: 21.054px;
        height: 19.576px;
        margin-left: 1.9rem;
        margin-top: 1.8rem;
    }

    header .header-basket-btn img {
        width: 21.054px;
        height: 19.576px;
    }


    header .header_btn {
        width: 22.901px;
        height: 4rem;
        font-size: 17.729px;
        margin-left: 0.7rem;
        margin-top: 0.4rem;
    }

    header .night-theme-btn {
        width: 20.315px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 10.7rem;
        margin-top: 1.6rem;
    }

    header .moon {
        position: absolute;
        right: 2rem;
        left: 0rem;
        bottom: 1rem;
        width: 20.315px;
        height: 18.468px;
        flex-shrink: 0;
        flex-shrink: 0;
    }

    header .sun {
        position: absolute;
        right: 0.375rem;
        left: 0;
        bottom: 1rem;
        width: 20.315px;
        height: 18.468px;
        flex-shrink: 0;
        opacity: 0;
    }

    header .reservations_btn {
        display: flex;
        height: 39px;
        width: 120.5px;
        justify-content: center;
        font-size: 13.593px;
        align-items: center;
        gap: 4.248px;
        margin-top: 19px;
        margin-left: 34px;
    }

    .admin-container{
        max-width: 20rem;
    }

    .products-section{
        padding:  0px 0px;
    }

    .admin-container{
        margin-left: 0.3rem;
        padding-top: 1rem;
    }

        /* Footer */

    footer {
        width: 320px;
        height: 423.333px;
        flex-shrink: 0;
        margin-top: 0rem;
    }

    .footer .footer_container {
        margin-left: 30px;
        margin-top: 0px;
        padding-top: 0px;
        width: 20rem;
    }

    .footer_logo h2 {
        width: 78.333px;
        font-size: 28.333px;
        margin-left: -5px;
        margin-top: -4.5rem;
        margin-right: 0;
    }

    .footer_content {
        height: 96px;
        margin-top: -53px;
        margin-left: 7.1rem;
        width: 93px;
    }

    .footer_content h5 {
        width: 51.25px;
        font-size: 13.333px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        /* 150% */
        margin-left: 0rem;
        margin-top: 0;
    }

    .footer_content p {
        width: 93.333px;
        color: var(--FFFFFF, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Montserrat;
        font-size: 7.5px;
        font-style: normal;
        font-weight: 400;
        line-height: 10.417px;
        /* 138.889% */
        letter-spacing: 0.15px;
    }

    .footer_content .footer_content_phone {
        margin-top: 22.92px;
    }

    .footer_content .footer_content_address {
        margin-top: 11.5px;
    }

    .footer_form h5 {
        color: var(--FFFFFF, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Rufina;
        font-size: 13.333px;
        font-style: normal;
        font-weight: 700;
        margin-left: -8.2rem;
        margin-top: 5.5rem;
        line-height: 20px;
        /* 150% */
    }

    .footer_form {
        grid-template-columns: none;
        grid-template-rows: 20px 40px 7px;
        row-gap: 14.58px;
        margin-left: -16.1rem;
        margin-top: 0;
    }

    .footer_line_img {
        width: 320px;
        height: 0.833px;
        padding-top: 4.5rem;
    }

    .footer_form button {
        display: inline-flex;
        padding: 8px 10px;
        width: 101px;
        justify-content: center;
        align-items: center;
        gap: 4.167px;
        color: var(--FFFFFF, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Rufina;
        font-size: 13.333px;
        font-style: normal;
        font-weight: 700;
        margin-top: 8px;
        margin-left: 58px;
        line-height: 20px;
        /* 150% */
    }

    .footer_form p {
        color: var(--FFFFFF, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Montserrat;
        font-size: 5.833px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.117px;
        margin-left: -8.3rem;
        margin-top: 5.4rem;
    }

    .footer_form_box {
        width: 2rem;
    }

    .footer_form input {
        display: flex;
        width: 214px;
        gap: 5px;
        height: 40px;
        padding: 0px 0px;
        margin-top: 5.3rem;
        align-items: start;
        flex-shrink: 0;
    }

    .footer_form input::placeholder {
        color: var(--FFFFFF, #FFF);
        font-feature-settings: 'liga' off, 'clig' off;
        font-family: Montserrat;
        font-size: 10px;
        padding-left: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        /* 14px */
        letter-spacing: 0.2px;
    }

    .footer_copyright {
        width: 20rem;
    }

    .footer_copyright p {
        width: 200.833px;
        height: 16.25px;
        font-size: 10px;
        line-height: 140%;
        /* 14px */
        letter-spacing: 0.2px;
    }

    .footer_copyright_container {
        display: flex;
        margin-top: -1.3rem;
        padding-left: 3.8rem;

    }

    .footer_copyright_icons {
        display: flex;
        margin-top: 2.3rem;
        margin-left: -9rem;
        gap: 11.67px;
    }

    .footer_copyright_icons img {
        width: 11.667px;
        height: 11.667px;
    }

    .navigation {
    width: 20rem;
  }

  .navigation-content {
    left: 18%;
    top: 12.4%;
  }

  .navigation-socials {
    left: 50.2%;
    top: 19.3%;
  }

  .navigation-content ul {
    gap: 12.713px;
  }

  .navigation-item-active a,
  .navigation-item a {
    font-size: 29.966px;
  }

  .navigation-item::before,
  .navigation-item-active::before {
    width: 5.448px;
    height: 5.448px;
    left: -11px;
    margin-top: 1.2rem;
  }

  .navigation-socials-text {
    gap: 0px;
  }

  .navigation-socials-text h3 {
    font-size: 15.064px;
  }

  .navigation-socials-text img {
    width: 139.813px;
    height: 1.883px;
    margin-top: -0.6rem;
  }

  .navigation-socials-phone {
    margin-top: 1.2rem;
  }

  .navigation-socials-address {
    margin-top: 1.1rem;
  }

  .navigation-socials-list {
    margin-top: 1rem;
    margin-left: 0.1rem;
  }

  .navigation .closebtn {
    width: 43.675px;
    height: 32.756px;
    margin-left: 14px;
    margin-top: 14px;
    flex-shrink: 0;
  }

  .navigation .closebtn img {
    width: 43.675px;
    height: 32.756px;
  }

  .navigation-socials-phone p,
  .navigation-socials-address p {
    font-size: 8.474px;
  }

  .navigation-socials-list {
    gap: 8.47px;
  }

  .navigation-socials-list img {
    width: 13.181px;
    height: 13.181px;
  }

  .header-basket-btn .cart-counter{
    width: 14px;
    height: 14px;
  }
}