body{
    transition: background-image .4s ease-in-out; 
    transition: background-color .4s, color .4s;
}

body.night-theme{
    background: #191919;
    color: var(--FFFFFF, #FFF);
}

header{
    transition: background-color .4s, color .4s;
}

body.night-theme footer{
    background-color: #191919;
}

footer{
    transition: background-color .4s, color .4s;    
}

.hero_section{
    transition: background-color .4s, color .4s;
}

body.night-theme .header_and_heroSection{
    background-image: url("../../assets/contact_background_dark.png"); 
    transition: background-image .4s ease-in-out; 
}

body.night-theme .reservation_background{
    background-image: url("../../assets/Mint_white.png");    
}

body.night-theme .contact-address{
    background-image: url("../../assets/Orange_white.png");
}

body.night-theme h2,
body.night-theme h1,
body.night-theme h3,
body.night-theme h4,
body.night-theme p,
body.night-theme a,
body.night-theme li,
body.night-theme input::placeholder{
    color: white;
}

body.night-theme .navigation .navigation-item-active a{
    color: #9CAA00;
}

body.night-theme .navigation {
    background-image: url("../../assets/nav_dark.png");
}

body.night-theme .reservation_section {
    background-color: #000000;
    transition: background-color .4s, color .4s;
}

body.night-theme input{
    border-color: white;
    color: white;
    color-scheme: dark;
}

body.night-theme select{
    border-color: white;
    color: white;
    background-color: transparent;
    background-image: url("../../assets/Icon_angle-down_white.png");
    background-position: right 2.5rem center;
    background-repeat: no-repeat;
}

body.night-theme option{
    background-color: black;
}

body.night-theme .moon{
    opacity: 0;
}

body.night-theme .sun{
    opacity: 1;
}